
[Desktop Entry]
Value=1.0
Type=Application
Name=Irssi
GenericName=Irssi
Exec=irssi
Terminal=true
Path=/usr/bin
Icon=irssi
StartupNotify=true
Categories=GNOME;GTK;Network;InstantMessaging;